
<div class="columns">
  <div class="column"></div>
  <div class="column">
<table class="table">
  <tr class="thead">
    <th>Jobs by Interest</th>
  </tr>
  <% @level_of_interest.each do |key, value| %>
  <tr>
    <td>level: <%= key %></td>
    <td><%= value %> jobs</td>
  </tr>
  <% end %>
</table>
</div>
<div class="column">
  <table class="table">
  <tr class="thead">
    <th>Top Companies by Interest</th>
  </tr>
  <% @top_companies.each do |company| %>
  <tr>
    <td><%= company.first.name %></td>
    <td><%= company.last.to_s %> Stars</td>
  </tr>
  <% end %>
</table>
  </div>

  <div class="column"></div>
</div>

<div class="columns">
  <div class="column is-one-half"></div>

<div class="column is-one-half">

<table class='table'>
<tr class="thead">
      <th>City</th>
      <th>Jobs</th>
    </tr>

  <% @top_cities.each do |key, value| %>
      <tr>
    <td><%= link_to key, jobs_path(location: key) %></td>
    <td><%= value %> Jobs</td>
  </tr>
  <% end %>
</table>

</div>
  <div class="column is-one-quarter"></div>
</div>
