<div class="container is-mobile">
  <div class="notification">
    <%= form_for(@job) do |f| %>
      <div class=" has-text-centered">
      </div>



  <p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= link_to "Add New Category", new_category_path, :method => "get" %>
</p>
<p>
  <%= f.label :Category %>
  <%= f.collection_select(:category_id, @categories, :id, :title ) %>
</p>
<p>
<%= f.label :Company %>
  <%= f.collection_select(:company_id, @companies, :id, :name ) %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :level_of_interest %>
  <%= f.number_field :level_of_interest %>
</p>
<p>
  <%= f.label :city %>
  <%= f.text_field :city %>
</p>
<p>
  <%= f.submit %>
  </p>
   <% end %>
  </div>
</div>

