

<div class="columns">
  <div class="column is-one-quarter"></div>
  <div class="column">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column is-one-half">
  <h3 class="title is-3 is-centered"> <%= @title %> Jobs</h3>
  <h5 class="title is-5 is-centered"> <%= link_to 'Add New Job', new_job_path %></h5>
      </div>
      <div class="column is-one-quarter"></div>
</div>


  <table class="table ">
  <thead>

    <tr>
      <th>Job</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%= link_to job.company.name, company_path(job.company) %></td>
      <td><%= link_to job.city, jobs_path(location: job.city) %></td>
      <td><%= job.level_of_interest %> Stars</td>
      <td><%= link_to 'Edit', edit_job_path(job)%></td>
      <td><%= link_to 'Delete', job_path(job), method: :delete%></td>
    </tr>
  <% end %>
    <tr>
  </tbody>
  </table>
  </div>

  <div class="column is-one-quarter"></div>
</div>
