

<div class="columns">
  <div class="column is-one-third"></div>

<div class="content column is-one-half">

  <h3><%= @job.title %></h3>
<ul>
  <li> Description: <%= @job.description %></li>
  <li>Level of Interest: <%= @job.level_of_interest %></li>
  <li>City: <%= @job.city %></li>
  <li>Company: <%= link_to @job.company.name, company_path(@job.company) %></li>
</ul>
<table class="table">
  <tr>
    <th>Comments</th>
  </tr>
  <% @job.comments.order("created_at desc").each do |comment|  %>
  <tr>
    <td><%= comment.body %></td>
  </tr>
  <% end %>
</table>

<h4> Add a New Comment </h4>
<%= form_for @comment do |f| %>
  <p>
  <%= hidden_field_tag"job_id", @job.id %>
  </p>
  <p>
  <%= f.text_area :body, class: "textarea" %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
</div>

  <div class="column is-one-third"></div>
</div>
