<%= form_for @contacts do |f| %>

<p><%= f.label "Full Name" %>
   <%= f.text_field :full_name %>
</p>
<p><%= f.label :Position %>
   <%= f.text_field :position %>
</p>
<p><%= f.label :email %>
   <%= f.text_field :email %>
</p>
<p><%= f.submit "Save" %>
</p>
<% end %>

