<div class="container is-mobile">
  <div class="notification">
    <%= form_for(@company) do |f| %>
      <div class="level-item has-text-centered">
      <p>
        <%= f.label :name %></br>
        <%= f.text_field :name %></br>
        <%= f.submit %>
      </p>
      </div>
    <% end %>
  </div>
</div>
