<div class="level">
  <div class="level-item">
    <h1><strong>All Companies</strong></h1>
  </div>
</div>

<div class="level">
  <div class="level-item">
    <h1><%= link_to 'Add New Company', new_company_path %></h1>
  </div>
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <% @companies.each do |company| %>
    <tr class=company_<%= company.id %>>
      <th><%= link_to company.name, job_index_path(company) %></th>
      <th><%= link_to "Edit", edit_company_path(company) %></th>
      <th><%= link_to "Delete", company_path(company), method: "delete" %></th>
    </tr>
    <% end %>
</table>
