<div class="level">
  <div class="level-item">
  <h1><strong><%= @company.name %></strong></h1>
  </div>
</div>

<div class="container is-mobile">
  <div class="notification">
    <%= form_for @contacts do |f| %>
    <div class="level-item has-text-centered">
      <p>
        <%= hidden_field_tag"company_id", @company.id %>
        <%= f.label "Full Name" %></br>
        <%= f.text_field :full_name %></br>
        <%= f.label :position %></br>
        <%= f.text_field :position %></br>
        <%= f.label :email %></br>
        <%= f.text_field :email %></br>
        <%= f.submit "Save" %>
      </p>
      </div>
    <% end %>
  </div>
</div>

<div class="level">
  <div class="level-item">
  <h3><strong>All Contacts</strong></h3>
  </div>
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tr>
    <th>Full Name</th>
    <th>Position</th>
    <th>Email</th>
  </tr>
  <% @company.contacts.each do |contact| %>
  <tr>
    <td><%= contact.full_name %></td>
    <td><%= contact.position %></td>
    <td><%= link_to contact.email, contact.email %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact)%></td>
    <td><%= link_to 'Delete', contact_path(contact), method: :delete%></td>
  </tr>
  <% end %>
</table>
