<div class="level">
  <div class="level-item">
  <h1>Job Categories</h1>
  </div>
</div>

<div class="level">
  <div class="level-item">
  <h1><%= link_to 'Create New Category', new_category_path %></h1>
  </div>
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <% @categories.each do |category| %>
  <tr id="category-<%= category.id %>-row">
    <td><%= link_to category.title, category_path(category) %></td>
    <td><%= @job_counts[category.id] ||= 0 %>
    <% if @job_counts[category.id] == 1 %>
      <%= 'Job' %>
    <% else %>
      <%= 'Jobs' %>
    <% end %>
    </td>
    <td> <%= link_to 'Edit', edit_category_path(category.id) %></td>
    <td> <%= link_to 'Delete', category_path(category.id), method: :delete %></td>
  </tr>
<% end %>
</table>
