<div class="level">
  <div class="level-item">
  <h1> Add New Category </h1>
  </div>
</div>

<div class="container is-mobile">
  <div class="notification">
    <%= form_for(@category) do |f| %>
      <ul>
      <% @category.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
      <div class="level-item has-text-centered">
        <p>
          <%= f.label :title %></br>
          <%= f.text_field :title %></br>
          <%= f.submit %>
        </p>
      </div>
    <% end %>
  </div>
</div>
