<div class="level">
  <div class="level-item">
    <h1> Job Category: <strong><%= @category.title %></strong> </h1>
  </div>
</div>

<div class="level">
  <div class="level-item">
    <h1><%= link_to 'Add New Job', new_job_path %></h1>
  </div>
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>City</th>
    <th>Interest</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= link_to job.title, job_path(job) %></td>
    <td><%= link_to job.company.name, company_path(job.company) %></td>
    <td><%= link_to job.city, jobs_path(location: job.city) %></td>
    <td>
      <% job.level_of_interest.times do %>
        <span>&#9733;</span>
      <% end %>
      <% (5 - job.level_of_interest).times do %>
        <span>&#9734;</span>
        <% end %>
    </td>
    <td> <%= link_to 'Edit', edit_job_path(job) %></td>
    <td> <%= link_to 'Delete', job_path(job), method: :delete %></td>
  </tr>
  <% end %>
</table>
